html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 100;
  font-family: 'Lato'; }
  body .navbar .navbar-header {
    margin-right: 35px; }
    body .navbar .navbar-header a.brand {
      padding: 16px 5px 8px;
      display: block;
      background-image: url("../images/pulse-logo.png");
      background-size: cover;
      width: 100px;
      height: 70px;
      background-position: 100% 46%; }
    body .navbar .navbar-header a:hover {
      text-decoration: none; }
  body .navbar #navbar ul.nav li a {
    color: white;
    padding: 25px 25px 27px;
    font-weight: bold;
    font-size: 20px; }
  body .navbar #navbar ul.nav li a:hover {
    cursor: pointer;
    color: #22bbff; }
  body .navbar #navbar ul.nav li.active a {
    color: #22bbff; }
  body .navbar .email {
    float: right;
    color: #22bbff;
    font-size: 20px;
    padding: 20px 0;
    font-weight: bold; }
  body h1, body h2, body h3, body h4, body h5 {
    font-weight: bold; }
  body a:focus {
    text-decoration: none; }
  body .clear {
    clear: both; }
  body .sub-heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 34px; }
  body .anchor {
    position: relative;
    bottom: 80px; }
  body h1.band-name {
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    margin-top: 650px;
    font-size: 130px;
    font-weight: normal;
    font-family: 'Special Elite', cursive;
    letter-spacing: 38px;
    text-transform: uppercase;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1); }
  body .big-image {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: 0 60%;
    height: 960px;
    position: relative; }
  body .social-wrapper, body .gallery-wrapper, body .contact-wrapper, body .bios-wrapper {
    padding: 50px 0; }
  body .social-wrapper {
    background-image: url("../images/carbon_bg.png");
    color: white;
    min-height: 300px; }
    body .social-wrapper a.big-link {
      color: #33ccff;
      position: absolute;
      padding-left: 15px; }
    body .social-wrapper a.big-link:hover {
      text-decoration: none;
      font-size: 36px; }
    body .social-wrapper div.widget.facebook div.facebook-posts {
      font-family: 'Special Elite', cursive;
      margin-top: 30px; }
      body .social-wrapper div.widget.facebook div.facebook-posts div.feed-content.fb {
        font-size: 18px; }
        body .social-wrapper div.widget.facebook div.facebook-posts div.feed-content.fb div.fb-msg {
          margin: 10px 0; }
    body .social-wrapper div.widget.youtube .sub-heading {
      padding-left: 15px; }
    body .social-wrapper div.widget.youtube .video {
      width: 100%;
      height: 270px;
      padding: 15px;
      margin-bottom: 25px; }
      body .social-wrapper div.widget.youtube .video iframe {
        width: 100%;
        height: 100%; }
  body .gallery-wrapper {
    background-image: url("../images/black_bg.png");
    min-height: 300px; }
    body .gallery-wrapper .gallery .image {
      width: 350px;
      height: 250px;
      float: left;
      margin: 0 60px;
      border: 3px solid white;
      background-size: cover; }
    body .gallery-wrapper .gallery .image1 {
      background-image: url("../images/gal-1.jpg"); }
    body .gallery-wrapper .gallery .image2 {
      background-image: url("../images/gal-2.jpg"); }
    body .gallery-wrapper .gallery .image3 {
      background-image: url("../images/gal-3.jpg"); }
    body .gallery-wrapper .gallery .image4 {
      background-image: url("../images/gal-4.jpg"); }
  body .contact-wrapper {
    color: #000;
    min-height: 300px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }
    body .contact-wrapper .sub-heading {
      font-family: 'Special Elite', cursive;
      font-weight: normal;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      font-size: 42px;
      text-align: center; }
    body .contact-wrapper .alerts {
      width: 25%;
      margin: auto;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-bottom: 15px; }
    body .contact-wrapper .contact-form {
      width: 40%;
      margin: auto;
      text-align: center; }
      body .contact-wrapper .contact-form .form-control, body .contact-wrapper .contact-form label {
        font-size: 16px;
        font-weight: bold; }
      body .contact-wrapper .contact-form button.btn {
        background-color: #55aadd;
        color: white;
        font-size: 16px;
        font-weight: bold; }
  body .bios-wrapper {
    min-height: 300px;
    background-color: #355069;
    color: white; }
    body .bios-wrapper .bios-gallery {
      position: relative;
      margin-bottom: 20px; }
      body .bios-wrapper .bios-gallery .flex-control-nav a.flex-active {
        background-color: #55aadd; }
    body .bios-wrapper .bio {
      margin-bottom: 35px; }
      body .bios-wrapper .bio .left, body .bios-wrapper .bio .right {
        float: left; }
      body .bios-wrapper .bio .left {
        width: 70%;
        padding-right: 30px; }
        body .bios-wrapper .bio .left .content .instrument {
          font-size: 30px;
          margin-bottom: 5px; }
        body .bios-wrapper .bio .left p {
          line-height: 24px;
          font-size: 16px;
          text-align: justify; }
      body .bios-wrapper .bio .right {
        width: 30%;
        padding-left: 30px; }
        body .bios-wrapper .bio .right .photo-container .photo {
          border: 3px solid white; }
        body .bios-wrapper .bio .right .photo-container .photo {
          height: 300px;
          background-size: cover;
          background-repeat: no-repeat; }
        body .bios-wrapper .bio .right .photo-container .photo.pat {
          background-image: url("../images/bios/pat.jpg"); }
        body .bios-wrapper .bio .right .photo-container .photo.marc {
          background-image: url("../images/bios/marc.jpg"); }
        body .bios-wrapper .bio .right .photo-container .photo.max {
          background-image: url("../images/bios/max.jpg"); }
        body .bios-wrapper .bio .right .photo-container .photo.trev {
          background-image: url("../images/bios/trev.jpg"); }
  body .song-player {
    margin-top: 20px; }
    body .song-player .center-box {
      margin: auto;
      width: 50%; }
    body .song-player .song {
      width: 100%;
      height: 140px;
      margin-bottom: 10px; }
      body .song-player .song iframe {
        height: 100%; }
  body .shows-wrapper {
    position: relative; }
  body .widget.upcoming {
    background-image: url("../images/carbon_bg.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
  body .show-hanger {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-weight: bold; }
    body .show-hanger .left-contain, body .show-hanger .right-contain, body .show-hanger .shows {
      float: left; }
    body .show-hanger .left-contain, body .show-hanger .right-contain {
      width: 8%; }
      body .show-hanger .left-contain .left-arrow, body .show-hanger .left-contain .right-arrow, body .show-hanger .right-contain .left-arrow, body .show-hanger .right-contain .right-arrow {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        padding: 25px 0;
        display: block; }
    body .show-hanger .shows {
      width: 84%;
      overflow: hidden; }
      body .show-hanger .shows .shows-strip {
        width: 2000px; }
      body .show-hanger .shows .show {
        width: 315px;
        padding: 20px 5px;
        float: left;
        margin-right: 10px;
        font-family: 'Special Elite', cursive; }
        body .show-hanger .shows .show .date, body .show-hanger .shows .show .time, body .show-hanger .shows .show .location {
          font-size: 18px;
          font-weight: normal;
          text-align: center;
          border-right: 1px solid white;
          padding-right: 20px; }
      body .show-hanger .shows .upcoming-heading {
        text-align: center; }
  body footer {
    background-color: black;
    color: white;
    padding: 25px 0;
    text-align: center; }

/*# sourceMappingURL=app.css.map */