//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 100;
  font-family: 'Lato';


  //HEADER

  .navbar{
    .navbar-header{
      margin-right:35px;
      a{
        color:#fff;
        font-size:32px;
        font-weight: normal;
        padding:16px 5px 8px;
        display: block;
        font-family: 'Special Elite', cursive;
      }
      a:hover{
        text-decoration: none;
      }
    }

    #navbar{
      ul.nav{
        li{
          a{
            color:#22bbff;
            padding:25px 20px 27px 20px;
            font-weight:bold;
            font-size:20px;
          }
        }
      }
    }

    .email{
      float:right;
      color:#22bbff;
      font-size:20px;
      padding:20px 0;
      font-weight: bold;
    }
  }


  //GENERAL
  h1,h2,h3,h4,h5{
    font-weight: bold;
  }

  a:focus{
    text-decoration: none;
  }

  .clear{
    clear:both;
  }

  .sub-heading{
    margin-bottom:30px;
    text-transform: uppercase;
    font-size:34px;
  }

  //ANCHORS

  .anchor{
    position:relative;
    bottom:80px;
  }

  //MAIN PAGE

  .big-image{
    background-image:url('../images/cover.jpg');
    background-size:cover;
    background-position:0 60%;
    height:960px;
    position: relative;
  }



  .social-wrapper, .gallery-wrapper, .contact-wrapper, .bios-wrapper{
    padding:35px 0;
  }

  .social-wrapper{
    background-image:url("../images/carbon_bg.png");
    color:white;
    min-height: 300px;

    a.big-link{
      color:#33ccff;
      position:absolute;
      padding-left:15px;
    }

    a.big-link:hover{
      text-decoration: none;
      font-size:36px;
    }

    div.widget.facebook{

      div.facebook-posts{
        font-family: 'Special Elite', cursive;
        margin-top: 30px;

        div.feed-content.fb{
          font-size: 18px;

          div.fb-msg{
            margin: 10px 0;
          }
        }
      }
    }

    div.widget.youtube{

      .sub-heading{
        padding-left:15px;
      }

      .video{
        width:100%;
        height: 270px;
        padding:15px;
        margin-bottom: 25px;

        iframe{
          width:100%;
          height:100%;
        }
      }
    }
  }

  .gallery-wrapper{
    background-image: url('../images/black_bg.png');
    min-height: 300px;

    .gallery{

      .image{
        width:350px;
        height:250px;
        float:left;
        margin:0 60px;
        border:3px solid white;
        background-size:cover;
      }

      .image1{
        background-image: url('../images/gal-1.jpg');
      }

      .image2{
        background-image: url('../images/gal-2.jpg');
      }

      .image3{
        background-image: url('../images/gal-3.jpg');
      }

      .image4{
        background-image: url('../images/gal-4.jpg');
      }
    }
  }

  .contact-wrapper{
    color:#000;
    min-height: 300px;
    text-shadow:2px 4px 3px rgba(0,0,0,0.3);

    .sub-heading{
      font-family: 'Special Elite', cursive;
      font-weight: normal;
      text-shadow:2px 4px 3px rgba(0,0,0,0.3);
      font-size:42px;
      text-align: center;
    }

    .alerts{
      //text-align: center;
      width:25%;
      margin:auto;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-bottom:15px;
    }
    
    .contact-form{
      width:40%;
      margin:auto;
      text-align: center;

      .form-control, label{
        font-size:16px;
        font-weight: bold;
      }

      button.btn{
        background-color:#55aadd;
        color:white;
        font-size:16px;
        font-weight:bold;
      }
    }
  }

  .bios-wrapper{
    min-height:300px;
    background-color:#355069;
    color:white;

    .bios-gallery{
      position: relative;
      margin-bottom:20px;

      .flex-control-nav{
        a.flex-active{
          background-color:#55aadd;
        }
      }
    }

    .bio{
      margin-bottom:35px;

      .left, .right{
        float:left;
      }

      .left{
        width:70%;
        padding-right:30px;

        .content{
          .instrument{
            font-size: 30px;
            margin-bottom:5px;
          }
        }
        
        p{
          line-height:22px;
          font-size:16px;
          text-align:justify;
        }
      }

      .right{
        width:30%;
        padding-left:30px;

        .photo-container{

          .photo{
            border:3px solid white;
          }

          .photo{
            height:300px;
            background-size:cover;
            background-repeat: no-repeat;
          }

          .photo.pat{
            background-image:url('../images/bios/pat.jpg');
          }

          .photo.marc{
            background-image:url('../images/bios/marc.jpg');
          }

          .photo.max{
            background-image:url('../images/bios/max.jpg');
          }

          .photo.trev{
            background-image:url('../images/bios/trev.jpg');
          }
        }
      }
    }
  }

  footer{
    background-color:black;
    color:white;
    padding:25px 0;
    text-align: center;
  }

  .song-player{
    border:1px solid white;
    margin-top:20px;

    h3{
      margin:10px 10px;
      text-align: center;
    }
  }

  .shows-wrapper{
    position:relative;
  }

  .widget.upcoming{
    background-image:url('../images/carbon_bg.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .show-hanger{
    position:absolute;
    bottom:0;
    width:100%;
    color:white;
    font-weight: bold;

    .left-contain, .right-contain, .shows{
      float:left;
    }

    .left-contain, .right-contain{
      width:8%;

      .left-arrow, .right-arrow{
        font-size:48px;
        font-weight:bold;
        text-align:center;
        padding:25px 0;
        display: block;
      }
    }

    .shows{
      width:84%;
      overflow: hidden;

      .shows-strip{
        width:2000px;
      }

      .show{
        width:315px;
        padding:20px 5px;
        float:left;
        margin-right:10px;
        font-family: 'Special Elite', cursive;

        .date, .time, .location{
          font-size:18px;
          font-weight:normal;
          text-align:center;
          border-right:1px solid white;
          padding-right:20px;
        }
      }

      .upcoming-heading{
        text-align: center;
      }
    }
  }
}